security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        users_in_memory:
            memory:
                users:
                    admin:
                        password: '$2y$13$p9ljdHss/5dx34tXbdP3e.xQ5jH5PR/VqU8wySAfxLMOEmktfJX1K'
                        roles: ['ROLE_ADMIN']
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: users_in_memory
            http_basic:
                realm: Secured Area
            stateless: true
    access_control:
        - { path: ^/api/v1/countries, roles: IS_AUTHENTICATED_ANONYMOUSLY, methods: [GET] }
        - { path: ^/api/v1/countries, roles: ROLE_ADMIN, methods: [POST, PATCH, DELETE] }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
